<div class="col-lg-4 container-sm text-center">
  <form class="row g-2 justify-content-center" action='<%= resolve_path %>'>
      <%= select_tag "registry", options_from_collection_for_select(@registries, "name", "name"), class: "form-select", include_blank: 'Select registry...' %>
      <input name='package_name' type="text" class="form-control" id="package_name" placeholder="Package Name: eg rails" size="20" required>
      <input name='version' type="text" class="form-control" id="version" placeholder="Version (optional)" size="20">
      <input name='before' type="text" class="form-control" id="before" placeholder="Before date-time (optional)" size="20">
      <button type="submit" class="btn btn-primary mb-3">Resolve</button>
  </form>
</div>